* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   color: #8B959E;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   color: black;
}

ul {
   list-style-type: none;
}

nav {
   height: 80px;
   box-shadow: rgba(25, 28, 31, 0.04) 0px 8px 16px,
               rgba(25, 28, 31, 0.04) 0px -1px 0px;

}

.clearfix {
   display: table;
   content: "";
   clear: both;
}

.centered {
   width: 75%;
   margin: 0 auto;
   height: 80px;
}

#logo {
   float: left;
   display: flex;
   height: 80px;
   justify-content:center;
   padding-right: 30px;
}

#left-menu {
   float: left;
   line-height: 80px;
   vertical-align: middle;
}

#left-menu > a {
   padding: 0 20px;
}

.active {
   font-weight: bold;
   color: black;
}

#right-menu {
   float: right;
}

#right-menu > li > a {
   line-height: 80px;
   vertical-align: middle;
}

#right-menu > li {
   display: inline-block;
   position: relative;
   padding: 0 20px;
}

#buttons {
   float: right;
   line-height: 80px;
}


#login,
#download {
   background-color: #edeeef;
   border-radius: 10px;
   text-decoration: none;
}

#login {
   background-color: #edeeef;
   color: black;
   font-weight: 400;
   margin: 0 20px;
   padding: 14px 20px;
}
#login:hover {
   background-color: #DADADB;
}

#download {
   background-color: #181C1F;
   color: white;
   font-weight: 400;
   padding: 15px 15px;
}
#download:hover {
   background-color: #3D4043;
}

.dropdown-content {
   display: none;
   position: absolute;
   left: 0;
   top: 70px;
   background-color: white;
   border-radius: 10px;
   padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
               rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
   white-space: nowrap;
   /* width: max-content; */
}

.dropdown-content li {
   line-height: 50px;
}

.special {
   display: flex;
}

.special > ul {
   margin-right: 60px;
}

.special > ul li:first-child {
   font-weight: bold;
   font-size: 12px;
}

.to-add > a {
   position: relative;
   color: lightgray;
}

.to-add a span {
   position: absolute;
   color: blue;
   font-size: 12px;
   left: 100%;
   top: -5px;
   line-height: 0px;
}

#funzionalita {
   left: -250%;
}
